@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 241, 245, 249;
  --background-end-rgb: 255, 255, 255;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 30, 41, 59;
  --background-end-rgb: 15, 23, 42;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

* {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto 
    bg-background-light dark:bg-background-dark text-primary hover:bg-primary hover:text-white
    rounded-md hover:rounded-xl transition-all duration-300 ease-linear cursor-pointer;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
    text-white bg-gray-900 
    text-xs font-bold transition-all duration-100 scale-0 origin-left;
  }

  .card {
    @apply bg-white dark:bg-gray-800 rounded-xl shadow-lg p-4 m-2;
  }

  .admin-button {
    @apply px-4 py-2 rounded-lg bg-primary text-white hover:bg-primary-dark transition-colors duration-300;
  }
}
